<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>CREAR PRODUCTO</h1>
	<form action="crear" id="crear" name="crear" method="POST">
		<input type="text" name="nombre" placeholder="nombre">
		<input type="text" name="precio" placeholder="precio">
		<input type="text" name="foto" placeholder="foto">
		<input type="text" name="descripcion" placeholder="descripcion">
		<input type="text" name="categoria" placeholder="categoria">
		<input type="number" name="vendido" placeholder="vendido", min="0">
		<button type="submit">Crear</button>
	</form>
</body>
</html>