<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>HOME</h1>
        <h2>url/listar -> lista los productos</h2>
        <h2>url/listar/id -> obtiene producto especifico</h2>
        <h2>url/login -> si es get plantilla, si es post retorna usuario logueado o no</h2>
        <h2>url/registro -> si es get plantilla, si es post retorna usuario registrado o no</h2>
        <h2>url/EDITAR/id* -> usaremos PUT y editamos algun campo(NO LA HICE,AUNQUE SU CODIGO ESTA IMPLEMENTADO) </h2>
        <h2>url/crear -> si es get plantilla, si es post retorna el producto insertado</h2>
        <h2>url/borrar/id</h2>

        <h1>POR FAVOR CUALQUIER PRINT QUE HAGAN LE PONEN LOS FUCK PARENTESIS</h1>
        <h1>YO TENGO PYTHON 3 y el FOR SE USA RANGE(INICIO,FIN) EN VEZ DE XRANGE(INICIO,FIN)</h1>
        <h1>CON LA INSTRUCCION DB.CREATE_ALL(), LAS TABLAS SE CREAN SOLAS Y POR ESO LES PUEDE DAR UN WARNING EN LA CONSOLA PERO ES XS (NO BORRAR)</h1>
    </body>
</html>