<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand ff-pacifico" href="#">{{title}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']"><a routerLink="/productos">Productos</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li [routerLinkActive]="['active']"><a *ngIf="this.serv.get_no_exist_user()" routerLink="/register" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li [routerLinkActive]="['active']"><a *ngIf="this.serv.get_no_exist_user()" routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

     

      <li><a *ngIf="this.serv.get_local_storage()"> ¡Hola {{this.serv.get_username()}}! <span class="glyphicon glyphicon-user"></span> </a></li>
      <li [routerLinkActive]="['active']"><a *ngIf="this.serv.get_local_storage()" routerLink="/carrito" routerLinkActive="active" title = "Carrito de compras"><span class=" glyphicon glyphicon-shopping-cart"></span></a></li>

      <li [routerLinkActive]="['active']" class="dropdown" title ="Menú" *ngIf="this.serv.get_local_storage()">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-navicon"></i></a>
        <ul class="dropdown-menu">
          <li [routerLinkActive]="['active']"><a *ngIf="this.serv.get_local_storage()" routerLink="/perfil" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Perfil</a></li>
          <li [routerLinkActive]="['active']"><a *ngIf="this.serv.get_local_storage()" routerLink="/productos/agregar" routerLinkActive="active"><span class="fa fa-file-text-o"></span> Agregar producto</a></li>
           <li [routerLinkActive]="['active']"><a *ngIf="this.serv.get_local_storage()" routerLink="/notas" routerLinkActive="active"><span class="fa fa-pencil-square-o"></span>Notas</a></li>
          <li ><a *ngIf="this.serv.get_local_storage()" (click)=this.serv.logout() routerLinkActive="active"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<!-- <h1 class = "ff-pacifico">
  {{title}}
</h1> -->
<p-messages [value]=this.servicio.msgs></p-messages>
<div class ="page-wrap">
<div class="container" >
    <router-outlet> </router-outlet>
</div>
</div>