.formulario{
	width:50%;
	margin: 0 auto;
}
#show{
   text-align: center;
   display: flex;
    justify-content: center;
}

#show img, #show p{
  margin-bottom: 30px;
}

#img{
    width:65%;
    border:none;   
}

table {
    border-collapse: collapse;
    width: 100%;
}


th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid white;
    text-align: center;
}

tr{
    background-color: #f2f2f2;
}

th {
    background-color: #4CAF50;
    color: white;
}

#ordenar{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.contenido{
    margin-top: 75px;
}
h1{
    font-size: 50px;
    color: white;
}